<div class="main-container">
    <div class="row">
        <div class="col col-3 leftb">
            <app-left-navbar/>
        </div>
        <div class="col col-9">
            <div class="head">
                <div class="latest">Latest</div>
                <div class="manage">
                    <p class="active">manage</p>
                    <i class="bi bi-grid-3x2-gap-fill"></i>
                    <i class="bi bi-list-ul"></i>
                </div>
            </div>
            <div class="container-body">
                <app-card/>
            </div>
        </div>
    </div>
</div>
