<div class="con">
    <ul class="list-group">
        <div class="list-group-item">
            <li class="headings" routerLink="/home"><i class="bi bi-house-door"></i>Home</li>
            <li class="headings" routerLink="/shorts"><i class="bi bi-file-earmark-play-fill"></i>Shorts</li>
            <li class="headings" routerLink="/subscription"><i class="bi bi-collection-play-fill"></i>Subscriptions</li>
        </div>
        <div class="list-group-item">
            <li routerLink="/user-profile"><h2>YOU ></h2></li>
            <li class="headings" routerLink=""><i class="bi bi-person-square"></i>Your Channel</li>
            <li class="headings" routerLink=""><i class="bi bi-clock-history"></i>History</li>
            <li class="headings" routerLink=""><i class="bi bi-music-note-list"></i>PlayList</li>
            <li class="headings" routerLink=""><i class="bi bi-play-circle-fill"></i>Your Videos</li>
            <li class="headings" routerLink=""><i class="bi bi-stopwatch"></i>Watch Later</li>
            <li class="headings" routerLink=""><i class="bi bi-heart-fill"></i>Liked Videos</li>
            
        </div>
        <div class="list-group-item">
            <li><h2>Subscriptions</h2></li>
            <li class="headings"><i class="bi bi-person-circle"></i>example</li>
            <li class="headings"><i class="bi bi-person-circle"></i>example</li>
            <li class="headings"><i class="bi bi-person-circle"></i>example</li>
            <li class="headings"><i class="bi bi-person-circle"></i>example</li>
            <li class="headings"><i class="bi bi-person-circle"></i>example</li>
            <li class="headings"><i class="bi bi-person-circle"></i>example</li>
            <li class="headings"><i class="bi bi-person-circle"></i>example</li>
            
        </div>
        <div class="list-group-item">
            <li><h2>Explore </h2></li>
            <li class="headings" routerLink=""><i class="bi bi-fire"></i>Trending</li>
            <li class="headings" routerLink=""><i class="bi bi-bag-plus-fill"></i>Shopping</li>
            <li class="headings" routerLink=""><i class="bi bi-music-note"></i>Music</li>
            <li class="headings" routerLink=""><i class="bi bi-film"></i>Films</li>
            <li class="headings" routerLink=""><i class="bi bi-broadcast"></i>Live</li>
            <li class="headings" routerLink=""><i class="bi bi-controller"></i>Gaming</li>
            <li class="headings" routerLink=""><i class="bi bi-newspaper"></i>News</li>
            <li class="headings" routerLink=""><i class="bi bi-trophy-fill"></i>Sport</li>
            <li class="headings" routerLink=""><i class="bi bi-lightbulb-fill"></i>Courses</li>
            <li class="headings" routerLink=""><i class="bi bi-person-arms-up"></i>Fashion & beauty</li>
            <li class="headings" routerLink=""><i class="bi bi-broadcast-pin"></i>Podcasts</li>
            
        </div>
        
    </ul>
</div>
