<div class="main-container">
    <div class="row">
        <div class="col col-3 leftb">
            <app-left-navbar/>
        </div>
        <div class="col col-9 container-body">
            <div class="shorts-body ">
                <div class="shorts-top-btns">
                    <button class="btn short-play1"><i class="bi bi-play-fill"></i></button>
                    <button class="btn short-play2"><i class="bi bi-volume-up-fill"></i></button>
                </div>
                <div class="shorts-description">
                    <div class="shorts-description-account d-flex my-3 mx-2 row">
                        <button class="btn shorts-description-profile col-3"><i class="bi bi-person-circle"></i></button>
                        <p class="shorts-description-name col-4">manoj kumar</p>
                        <button class="btn subscribe col-5">subscribe</button>
                    </div>
                    <div class="shorts-description-captions">
                        <p>this is awesome!</p>
                        <p>when tou want to describe it </p>
                    </div>
                </div>
                
            </div>
            <div class="short-btn row">
                <div class="col">
                    <button class="btn"><i class="bi bi-hand-thumbs-up-fill"></i></button>
                    <label>Like</label>
                </div>
                <div class="col">
                    <button class="btn"><i class="bi bi-hand-thumbs-down-fill"></i></button>
                    <label>Dislike</label>

                </div>
                <div class="col">
                    <button class="btn"><i class="bi bi-chat-left-fill"></i></button>
                    <label>comment</label>

                </div>
                <div class="col">
                    <button class="btn"><i class="bi bi-send-arrow-up-fill"></i></button>
                    <label>Share</label>

                </div>
                <div class="col">
                    <button class="btn"><i class="bi bi-three-dots-vertical"></i></button>
                    <label></label>

                </div>
                <div class="col">
                    <button class="btn btn-profile"><i class="bi bi-person-square"></i></button>
                    <label></label>

                </div>
            </div>
            <div class="shorts-next">
                <button class="btn btn-primary next"><i class="bi bi-arrow-down"></i></button>
            </div>
        </div>
    </div>
</div>

