<div class="main-container">
    <div class="row">
        <div class="col col-3 leftb">
            <app-left-navbar/>
        </div>
        <div class="col col-9">
            <div class="head">
                <div class="profile-photo">
                    <i class="bi bi-person-circle"></i>
                </div>
                <div class="profile-details">
                    <h1>manoj kumar</h1>
                    <p>&#64;manojkumar-vk4br </p>
                    <p>game lover<a href="#"> ...more</a></p>
                    <button>Customize channel</button>
                    <button>Manage videos</button>
                </div>
            </div>
            
            <div class="container-body">
                <div class="home">
                    <div class="headings">
                        <h5 class="btn btn-primary ">Home</h5>
                        <button class="btn btn-primary"><i class="bi bi-search"></i></button>
                    </div>
                    <hr/>
                    <div class="create-content-body">
                        <i class="bi bi-film"></i>
                        <p class="first-para">create content in any device</p>
                        <span class="tested">
                            <p class="second-para">Upload and record at home or on the go.</p>
                            <p class="third-para">Everything that you make public will appear here.</p>
                        </span>
                        <button class="btn btn-create">create</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
