<div class="main-container">
    <div class="row">
        <div class="col col-3 leftb">
            <app-left-navbar/>
        </div>
        <div class="col col-9">
            <div class="head">
                <div class="profile-photo">
                    <i class="bi bi-person-circle"></i>
                </div>
                <div class="profile-details">
                    <h1>manoj kumar</h1>
                    <p>&#64;manojkumar-vk4br • <a href="#">view Channel</a></p>
                    <button><i class="bi bi-person-gear"></i>Switch Account</button>
                    <button><i class="bi bi-google"></i>Google Account</button>
                </div>
            </div>
            
            <div class="container-body">
                <div class="history">
                    <div class="headings">
                        <h5>History</h5>
                        <button>View all</button>
                    </div>
                    <div class="cards">
                        <app-card/>

                    </div>
                </div>
                <div class="playlist">
                    <div class="headings d-flex ">
                        <h5>Playlist</h5>
                        <button>View all</button>
                    </div>
                    <div class="cards ">
                        <app-card/>
                        
                    </div>
                </div>
                
            </div>
            
            
        </div>
    </div>
</div>
