.main-container{
    margin:0;
    padding: 0;
    background-color: #24b1e0;
}
.row{
    height:100vh;
}
.col{
    margin-top:20px;
}
.leftb{
    height: 80%;
    overflow: hidden;
    overflow-y: scroll;
}

.head{
    background-color: #24b1e0;
    height: 5%;
    display:flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: scroll;

    
}
.btn-head{
    color: #fff;
    font-size: 18px;
    background-color: #1b7b87;
    height:40px;
    width: fit-content;
    border-radius: 3px;
    margin: 5px 10px 5px 10px ;
}
.btn-head:hover{
    background-color: #2bc2f5;
}
.container-body{
    background-color: #24b1e0;
    margin: 0;
    padding: 0;
    
}

