<div class="main-container">
    <div class="row">
        <div class="col col-3 leftb">
            <app-left-navbar/>
        </div>
        <div class="col col-9">
            <div class="head">
                <button class="btn btn-head"> < </button>
                <button class="btn btn-head">all</button>
                <button class="btn btn-head">music</button>
                <button class="btn btn-head">Gaming</button>
                <button class="btn btn-head">Reverberation</button>
                <button class="btn btn-head">playlist</button>
                <button class="btn btn-head">mixes</button>
                <button class="btn btn-head">javascript</button>
                <button class="btn btn-head">manga</button>
                <button class="btn btn-head">watched</button>
                <button class="btn btn-head">recently</button>
                <button class="btn btn-head">meditational</button>
                <button class="btn btn-head">live</button>
                <button class="btn btn-head">sky:children</button>
                <button class="btn btn-head">trending</button>
                <button class="btn btn-head"> > </button>
            </div>
            <div class="container-body">
                <app-card/>
            </div>
        </div>
    </div>
</div>
